@import "../components/variabels";
@import "../components/nav";
@import "../components/footer";
@import "../components/general";

header {
  background-color: $darkcolor;
  overflow-y: hidden;
}

.grid-container {
  height: 110vh;
  border-bottom: 2px solid #e76f51;
  display: grid;
  grid-template-columns: 0.5fr 1.5fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "aside nav nav nav nav nav"
    "aside textarea textarea calender calender ."
    "aside textarea textarea calender calender ."
    "aside textarea textarea calender calender ."
    "aside textarea textarea calender calender ."
    "aside .  . . . .";
}

//aside landingpage
aside {
  grid-area: aside;
  background-color: $basecColorDiv;
  button {
    width: 100px;
  }
  .logo {
    img {
      width: 160px;
      height: 160px;
      margin: 2rem;
    }
  }

  img {
    height: 50px;
    width: 50px;
  }

  h3 {
    color: $darkcolor;
    font-size: 28px;
  }

  ul {
    margin-top: 8rem;
  }
  li {
    margin: 1.5rem 0rem 1.5rem 1rem;
  }
  a {
    font-size: 18px;
    color: $darkcolor;
    transition: 350ms;
  }
  a:hover {
    color: #051318;
    text-decoration: underline;
    transition: 350ms;
  }
}
//calender landingpage
.calender {
  margin-top: 6rem;
  margin-right: 2rem;
  grid-area: calender;
  background-color: $text-color;
  border-radius: $box-radius;
  color: $darkcolor;

  h5 {
    font-size: 1.2rem;
    color: $darkcolor;
    margin-left: 0.8rem;
  }
  p {
    margin: 0.5rem;
    margin-left: 0.8rem;
    font-size: 1.5rem;
  }

  h3 {
    font-size: 2.5rem;
    background-color: $basecColorDiv;
    padding: 1rem;
    border-radius: 10px 10px 0px 0px;
  }
}
//textarea
.textarea {
  grid-area: textarea;
  color: $text-color;
  margin-left: 5rem;
  margin-top: 5rem;
  div {
    margin-bottom: 3rem;
  }
  h1 {
    font-size: 4rem;
  }
  p {
    font-size: 1rem;
    max-width: 50ch;
  }
  h2 {
    font-size: 2.5rem;
  }
  .big-btn {
    margin-top: 1.5rem;
  }
}
//Main

.firstSectionMain {
  justify-content: space-evenly;
  margin-top: 5rem;
  display: flex;
  flex-wrap: wrap;
  h2 {
    margin-left: 1rem;
    font-size: 3rem;
  }
  p {
    font-family: Poppins;
    font-size: 1.5rem;
    font-weight: 500;
    max-width: 35ch;
    margin-left: 1rem;
  }

  .textContainer {
    margin: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    border-radius: $box-radius;

    .arrow {
      width: 60px;
      height: 60px;
      margin-right: 1rem;
    }
    .leftArrow {
      justify-content: center;
      width: 60px;
      height: 60px;
      margin-left: 1rem;
    }

    h3 {
      font-size: 2rem;
      font-family: Poppins;
      font-weight: 500;
      margin: 0 1rem 0 1rem;
      margin-left: 1rem;
      text-align: start;
      align-items: center;
    }
  }
  //color for section
  .color-yellow-bg {
    background-color: $basecColorDiv;
  }
  .color-orange-bg {
    background-color: $baseColorSectionTwo;
  }
  .imgMain {
    width: 700px;
    height: 700px;
  }
  .changeColorSectionTwo {
    background-color: $baseColorSectionTwo;
  }
  .changeColorSectionThree {
    background-color: $baseColorSectionThree;
  }
}
.color-redOrange-bg {
  background-color: $baseColorSectionThree;
}

//aktuellt
.aktuelltheader {
  margin-top: 6rem;
  margin-bottom: 4rem;
  padding: 2rem;
  color: $darkcolor;
  font-size: 5rem;
  text-align: center;
  background-color: $basecColorDiv;
}
.flexContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  div {
    margin: 2rem 1rem 2rem 1rem;
    background-color: $basecColorDiv;
    border-radius: $box-radius;
    p {
      color: $darkcolor;
      font-size: 1.3rem;
      max-width: 35ch;
      margin: 1rem;
    }
    h3 {
      font-size: 2.2rem;
      margin: 1rem;
      color: $darkcolor;
      max-width: 25ch;
    }
  }

  .aktuelltimg {
    border-radius: $box-radius;
    width: 100%;
  }
}

//        -<Media@>-
@media (min-width: 1700px) {
  .firstSectionMain {
    margin-top: 8rem;
  }
  .grid-container {
    grid-template-areas:
      "aside nav nav nav nav nav"
      "aside textarea textarea textarea calender calender"
      "aside textarea textarea textarea calender calender"
      "aside textarea textarea textarea . ."
      "aside textarea . . . ."
      "aside . . . . .";
    .calender {
      max-height: 400px;
    }
  }
}
@media (max-width: 1700px) {
  .calender {
    max-height: 550px;
    margin-left: 3rem;
  }
}

@media (max-width: 1200px) {
  .flexContainer {
    div {
      h3 {
        font-size: 1.5rem;
        margin: 2.2rem;
      }
      p {
        font-size: 1rem;
        max-width: 35ch;
        margin: 2.2rem;
      }
    }
    img {
      height: 320px;
    }
  }
  .firstSectionMain {
    margin-top: 5rem;
  }

  .grid-container {
    display: grid;
    grid-template-columns: 0.7fr 1.2fr 1.1fr 0.2fr;
    grid-template-rows: 0.1fr 0fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "aside nav nav nav"
      "aside . . ."
      "aside textarea textarea  ."
      "aside calender calender ."
      ". . . .";
  }

  aside {
    grid-area: aside;
  }

  .textarea {
    grid-area: textarea;
  }

  .calender {
    display: none;
  }

  //search styling
}
@media (max-width: 1024px) {
  .textarea {
    .big-btn {
      font-size: 20px;
    }
    p {
      font-size: 1rem;
    }
    h1 {
      font-size: 3rem;
    }
  }

  .firstSectionMain {
    .imgMain {
      width: 500px;
      height: 313px;
      margin: 2rem;
    }
  }
}
@media (min-width: 1000px) {
  .myh-logo-none {
    display: none;
  }
}
@media (max-width: 768px) {
  .flexContainer {
    div {
      margin: 2rem 2rem 2rem 2rem;
      h3 {
        font-size: 1.5rem;
        max-width: 20ch;
      }
      p {
        font-size: 1rem;
        max-width: 35ch;
      }
    }
    img {
      width: 400px;
    }
  }
  .firstSectionMain {
    margin-top: 2rem;
    .textContainer {
      margin: 1rem 0rem 1rem 0rem;
    }
  }

  .textarea {
    h1,
    h2 {
      font-size: 2rem;
    }
  }
  aside {
    .logo {
      padding: 0rem;

      img {
        width: 100px;
        height: 100px;
      }
    }
    li {
      margin: 1rem 0.5rem;
    }
    a {
      font-size: 0.8rem;
    }
    h3 {
      margin: 0.5rem;
      font-size: 1.2rem;
    }
  }
}
@media (max-width: 650px) {
  .textarea {
    .big-btn {
      font-size: 0.8rem;
      margin: 2rem auto;
      display: flex;
      justify-content: center;
    }
    h1,
    h2 {
      font-size: 1.8rem;
      text-align: center;
    }
    p {
      font-size: 0.8rem;
      text-align: center;
    }
  }
  aside {
    display: none;
  }
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.3fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "nav nav nav nav nav nav"
      "textarea textarea textarea textarea textarea ."
      "textarea textarea textarea textarea textarea ."
      "calender calender calender calender calender calender"
      "calender calender calender calender calender calender";
  }
  .nav {
    grid-area: nav;
  }
  .textarea {
    grid-area: textarea;
  }
  .calender {
    grid-area: calender;
    height: 400px;
  }
}
@media (max-width: 600px) {
  .firstSectionMain {
    h2 {
      text-align: center;
      margin: 0;
    }
    p {
      text-align: center;
    }
    .imgMain {
      width: 250px;
      height: 250px;
      margin: 0rem;
    }
    .textContainer {
      max-width: 330px;
      margin: 1rem auto;

      .arrow {
        width: 45px;
        height: 45px;
      }
      .leftArrow {
        width: 45px;
        height: 45px;
      }
      h3 {
        font-size: 1.2rem;
      }
    }
  }
}
@media (max-width: 500px) {
  footer {
    img {
      width: 150px;
      height: 150px;
    }
    footer-container {
      text-align: center;
    }
  }

  .textarea {
    .big-btn {
      font-size: 0.8rem;
      margin: 2rem auto;
      display: flex;
      justify-content: center;
    }
    h1,
    h2 {
      font-size: 1.8rem;
      text-align: center;
    }
    p {
      font-size: 0.8rem;
      text-align: center;
    }
  }

  .firstSectionMain {
    h2 {
      font-size: 1.8rem;
    }
    p {
      font-size: 0.8rem;
    }
  }
  .calender {
    grid-area: calender;
    height: 500px;
  }
}
@media (max-width: 375px) {
  footer {
    div {
      img {
        margin-left: 3.5rem;
      }
    }
  }
}
