// Reset:
@import "../components/variabels";
@import "../components/nav";
@import "../components/footer";
@import "../components/general";

html {
  background-color: $darkcolor;
}

// Lagar-Main-content:
main {
  background-color: $darkcolor;
  color: $text-color;
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  align-items: center;

  & section {
    grid-column: 2/3;
    grid-row: 1/2;
    display: flex;
    align-items: center;
    gap: 6em;
    padding-top: 4em;
    max-width: 1024px;

    // Lagar-Main-navbar:
    & #lagar-nav {
      width: 50%;
      display: flex;
      flex-direction: column;
    }

    & #lagar-nav div {
      padding: 0.5em;
      font-size: 1rem;
      font-weight: normal;

      & h3 a {
        color: $text-color;
        font-weight: normal;
        font-family: $font-family-inter;
      }
      & h3 a:hover {
        color: $baseColorSectionTwo;
      }
    }

    & #lagar-nav ul {
      padding: 0;
      margin: 0;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    & #lagar-nav ul li {
      background: $basecColorDiv;
      margin: 0;
      padding: 1em;
      width: 100%;
      border: 3px solid $darkcolor;
      border-radius: $box-radius;
      display: flex;
      justify-content: space-between;
      align-items: center;
      transition: 0.2s;
    }

    // Hover-effect:
    & #lagar-nav ul li:hover {
      background: $baseColorSectionTwo;
      transform: scale(1.05, 1.05);
    }

    & #lagar-nav ul li img {
      margin: 0;
      padding: 0;
      background: $basecColorDiv;
      border-radius: 50%;
      transition: 0.2s;
    }

    // Hover-effect:
    & #lagar-nav ul li:hover img {
      background: $baseColorSectionTwo;
      transform: rotate(-90deg);
    }

    & #lagar-nav ul li a {
      font-family: $font-family-inter;
      color: black;
    }

    // Lagar-Main-text
    & article {
      background: $darkcolor;
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      & h1 {
        margin: 1em 1em 0.5em 0.5em;
        font-size: 2rem;
        color: $basecColorDiv;
      }

      p:first-of-type {
        font-weight: bold;
      }

      & p {
        margin: 1em;
      }
    }
  }

  // Lagar-Main-img:
  & img {
    grid-column: 2/3;
    grid-row: 2/3;
    max-width: 40%;
    height: auto;
    background: $darkcolor;
    padding: 2em;
    margin: 2em;
  }
}

// Header-navbar:
#header-nav {
  background-color: $darkcolor;
}

// Media Queries:

@media only screen and (max-width: 1023px) {
  main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.3fr;
    justify-items: center;

    & section {
      grid-column: 1/2;
      grid-row: 1/2;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      & #lagar-nav {
        width: 100%;
        display: flex;
        align-items: center;
      }

      & article {
        background: $darkcolor;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        & h1 {
          margin: 1em 1em 0.5em 0.5em;
          font-size: 2rem;
          color: $basecColorDiv;
        }

        p:first-of-type {
          font-weight: bold;
        }

        & p {
          margin: 1em;
        }
      }
    }

    & img {
      grid-column: 1/2;
      grid-row: 2/3;
      max-width: 100%;
      height: 100%;
      background: $darkcolor;
      padding: 2rem;
      margin: 0;
    }
  }
}
