footer {
  background-color: $basecColorDiv;
  .footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: $basecColorDiv;
  }
  .wave {
    width: 100%;
    height: 100%;
  }
  .arrowup {
    width: 80px;
    height: 80px;
    transform: rotate(180deg);
  }

  img {
    width: 300px;
    height: 300px;
  }
  section {
    margin: 2rem;
    li {
      color: $darkcolor;
      max-width: 35ch;
    }
    a {
      color: black;
      text-decoration: underline;
    }
    h5 {
      font-size: 1.4rem;
      font-weight: 600;
      color: $darkcolor;
      margin: 0.5rem 0rem 0.5rem 0rem;
    }
  }
}

@media (max-width: 900px) {
  .press {
    section {
      height: 100%;
      h1 {
        font-size: 1.2rem;
      }
      h2 {
        font-size: 1.2rem;
      }
      p {
        font-size: 0.8rem;
      }
    }
    div {
      h1 {
        font-size: 2rem;
      }
      h2 {
        margin-top: 0.5rem;
        font-size: 1.2rem;
      }
      h3 {
        font-size: 1rem;
      }
    }
  }

  footer {
    section {
      width: 100%;
      text-align: center;
      margin: 0.5rem;
      li {
        max-width: none;
      }
    }
  }
}
@media (max-width: 600px) {
  .arrowup {
    display: none;
  }
}
