$basecColorDiv: #e9c46a;
$base-color-nav: #ffeb00;
$darkcolor: #264653;
$text-color: #faf8f8;
$baseColorSectionTwo: #f4a261;
$baseColorSectionThree: #e76f51;
@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

//font-size
$font-size-p: 2rem;

//font-family
$font-family-inter: inter;
$font-family-poppins: poppins;

//boxes
$box-radius: 25px;

//opacity
$dimmdown: 70%;
