@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,900;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&family=Poppins:ital,wght@0,400;0,900;1,400;1,500;1,600;1,700;1,800&display=swap");
.info-nav {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: 2rem;
  margin-top: 0.5rem;
}

.info-nav a {
  font-size: 12px;
  color: white;
}

.toggle-button {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 40px;
  height: 35px;
}

.toggle-button .bar {
  height: 6px;
  width: 100%;
  background-color: #faf8f8;
  border-radius: 10px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #faf8f8;
  min-width: 160px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content :hover {
  background-color: #333;
  color: white;
  text-decoration: none;
}

.dropdown-content a {
  color: #264653;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown:hover .dropdown-content {
  display: block;
}

nav {
  position: relative;
  grid-area: nav;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav ul li {
  font-family: inter;
  margin: 0.8rem;
  font-weight: 500;
  border-radius: 25px;
  cursor: pointer;
}

nav ul a {
  font-size: 1.5rem;
  color: white;
}

nav form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav form input {
  background-color: #264653;
  color: #faf8f8;
  border-style: none;
  width: 50%;
}

nav form button {
  background-color: #264653;
  color: white;
  cursor: pointer;
  border-style: none;
}

@media (max-width: 1200px) {
  nav .search {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  nav div {
    font-size: 1rem;
  }
  nav ul li {
    border-radius: 0px;
    margin-top: 0rem;
  }
  form {
    margin: 1rem;
  }
}

@media (max-width: 1024px) {
  nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .toggle-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 1.5rem;
  }
  .navbar-links {
    display: none;
    width: 100%;
  }
  .navbar-links ul {
    margin-top: 4rem;
    padding-left: 0rem;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .navbar-links ul li {
    text-align: center;
  }
  .navbar-links ul li a {
    padding: 0.5rem 1rem;
  }
  .navbar-links.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

footer {
  background-color: #e9c46a;
}

footer .footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-color: #e9c46a;
}

footer .wave {
  width: 100%;
  height: 100%;
}

footer .arrowup {
  width: 80px;
  height: 80px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

footer img {
  width: 300px;
  height: 300px;
}

footer section {
  margin: 2rem;
}

footer section li {
  color: #264653;
  max-width: 35ch;
}

footer section a {
  color: black;
  text-decoration: underline;
}

footer section h5 {
  font-size: 1.4rem;
  font-weight: 600;
  color: #264653;
  margin: 0.5rem 0rem 0.5rem 0rem;
}

@media (max-width: 900px) {
  .press section {
    height: 100%;
  }
  .press section h1 {
    font-size: 1.2rem;
  }
  .press section h2 {
    font-size: 1.2rem;
  }
  .press section p {
    font-size: 0.8rem;
  }
  .press div h1 {
    font-size: 2rem;
  }
  .press div h2 {
    margin-top: 0.5rem;
    font-size: 1.2rem;
  }
  .press div h3 {
    font-size: 1rem;
  }
  main section {
    height: 100%;
  }
  main section h1 {
    font-size: 1.2rem;
  }
  main section h2 {
    font-size: 1.2rem;
  }
  main section p {
    font-size: 0.8rem;
  }
  main div h1 {
    font-size: 2.5rem;
  }
  main div h2 {
    font-size: 1.5rem;
  }
  main div h3 {
    font-size: 1rem;
  }
  .nyhetsrum-header .nybtn {
    font-size: 0.8rem;
    margin: 1rem;
    padding: 0.6rem;
  }
  .nyhetsrum-header h1 {
    font-size: 4rem;
  }
  .nyhetsrum-header p {
    font-size: 1.2rem;
  }
  footer section {
    width: 100%;
    text-align: center;
  }
  footer section li {
    max-width: none;
  }
}

@media only screen and (max-device-width: 768px) {
  .parallax {
    background-attachment: scroll;
  }
}

* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Poppins", "Inter", Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
button {
  font-family: inter;
  font-weight: 600;
  color: #264653;
}

p {
  font-family: poppins;
  font-weight: 400;
}

.aktuellt-blue-bg {
  background-image: linear-gradient(120deg, #00b4d8, #023e8a);
}

.parallax {
  z-index: -1;
  position: absolute;
  top: 0%;
  background-image: url("/src/bluemounten.jpg");
  height: 100%;
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax img {
  display: none;
}

.toggle-button .bar {
  background-color: #264653;
}

.info-nav a {
  font-size: 12px;
}

header {
  overflow: hidden;
  position: relative;
  height: 100vh;
}

header nav {
  z-index: 2;
}

header nav .info-nav a {
  color: black;
}

header nav a {
  color: black;
}

header nav form input {
  background: transparent;
}

header nav form button {
  height: 15px;
  width: 15px;
  background: transparent;
}

.home-nyhetsrum-nav {
  text-align: center;
}

.nybtn {
  font-size: 1.2rem;
  padding: 0.7rem;
  background-color: #264653;
  margin: 4rem 1rem 1rem 1rem;
  cursor: pointer;
  color: white;
  border-radius: 25px;
  border-color: turquoise;
}

.nybtn:hover {
  padding: 0.8rem;
}

.nyhetsrum-header {
  padding-top: 8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.nyhetsrum-header h1 {
  color: black;
  font-size: 5rem;
  font-weight: 800;
  vertical-align: middle;
  margin-bottom: 2rem;
  font-family: "inter";
}

.nyhetsrum-header p {
  font-weight: 500;
  color: black;
  font-size: 1.8rem;
  font-weight: 700;
  font-family: "inter";
}

main {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main img {
  width: 100%;
  height: 100%;
}

main div {
  text-align: center;
  width: 100%;
}

main div h1 {
  margin-top: 2rem;
  font-size: 5rem;
  font-weight: 700;
  color: #090505;
}

main div h2 {
  margin-top: 2rem;
  font-size: 1rem;
  font-weight: 700;
  color: #090505;
  max-width: 20ch;
  margin: 0 auto;
}

main .parallax_2 {
  z-index: -1;
  position: absolute;
  top: 0%;
  height: 100%;
}

main .info-section {
  margin: 1rem;
  padding: 1.5rem;
  background-color: #caf0f8;
  text-align: center;
  border-radius: 25px;
  height: 250px;
  width: 300px;
}

main .info-section h1 {
  font-size: 1.2rem;
  color: #090505;
}

main .info-section h2 {
  font-size: 1.2rem;
  color: #090505;
}

main .info-section p {
  padding-top: 0.5rem;
  font-size: 1rem;
  color: #090505;
  margin: 0 auto;
}

.press {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.press div {
  text-align: center;
  width: 100%;
}

.press div h1 {
  margin-top: 5rem;
  font-size: 5rem;
  font-weight: 700;
  color: #090505;
}

.press div h2 {
  padding: 1rem;
  font-size: 1.2rem;
  font-weight: 700;
  color: #090505;
  max-width: 30ch;
  margin: 0 auto;
}

.press div h3 {
  font-size: 1.2rem;
  font-weight: 500;
  color: black;
}

.press div h3 a {
  color: #090505;
}

.press .info-section {
  padding: 1.5rem;
  margin: 1.5rem;
  background-color: #caf0f8;
  text-align: center;
  border-radius: 25px;
}

.press .info-section h1 {
  font-size: 1.5rem;
  color: #090505;
}

.press .info-section h2 {
  font-size: 1.5rem;
  color: #090505;
}

.press .info-section p {
  padding-top: 1rem;
  font-size: 1rem;
  color: #090505;
  max-width: 30ch;
  margin: 0 auto;
}

.centerbtn {
  margin: 0;
}

.articel-container-newsroom {
  height: 100%;
}

.calender-header-text {
  margin: 4rem 0rem 4rem 0rem;
  font-size: 5rem;
  font-weight: 700;
  text-align: center;
}

.calender {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.calender .calender-section-newsroom {
  padding: 1.5rem;
  margin: 1.5rem;
  text-align: center;
  border-bottom: 2px solid black;
}

.calender .calender-section-newsroom p {
  max-width: 50ch;
  margin: 0 auto;
}

.calender-img-newsroom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  width: 500px;
  height: 500px;
}

.wave {
  background-color: white;
}

@media (max-width: 1025px) {
  .home-nyhetsrum-nav {
    display: none;
  }
  .calender-img-newsroom {
    width: 200px;
    height: 100px;
  }
}

@media (max-width: 900px) {
  .calender-header-text {
    font-size: 1.2rem;
  }
  .calender .calender-section-newsroom {
    border-bottom: none;
  }
  .calender-section-newsroom h1 {
    font-size: 1.2rem;
  }
  .calender-section-newsroom h2 {
    font-size: 1.2rem;
  }
  .calender-section-newsroom p {
    font-size: 0.8rem;
  }
  .press .info-section h1 {
    font-size: 1.2rem;
  }
  .press .info-section h2 {
    font-size: 1.2rem;
  }
  .press .info-section p {
    font-size: 0.8rem;
  }
  .press div h1 {
    font-size: 2rem;
  }
  .press div h2 {
    margin-top: 0.5rem;
    font-size: 1.2rem;
  }
  .press div h3 {
    font-size: 1rem;
  }
  main {
    height: 100%;
    padding-bottom: 5rem;
  }
  main .info-section h1 {
    font-size: 1.2rem;
  }
  main .info-section h2 {
    font-size: 1.2rem;
  }
  main .info-section p {
    font-size: 0.8rem;
  }
  main div h1 {
    font-size: 2.5rem;
  }
  main div h2 {
    font-size: 1.5rem;
  }
  main div h3 {
    font-size: 1rem;
  }
  .nybtn {
    font-size: 0.8rem;
    margin: 1rem;
    padding: 0.6rem;
  }
  .nyhetsrum-header h1 {
    font-size: 4rem;
  }
  .nyhetsrum-header p {
    font-size: 1.2rem;
  }
  footer section {
    width: 100%;
    text-align: center;
  }
  footer section li {
    max-width: none;
  }
}

@media only screen and (max-device-width: 768px) {
  .parallax {
    background-attachment: scroll;
  }
}
/*# sourceMappingURL=newsroom.css.map */