@import "_variabels.scss";

//hamburger menu
.toggle-button {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 40px;
  height: 35px;

  .bar {
    height: 6px;
    width: 100%;
    background-color: $text-color;
    border-radius: 10px;
  }
}
nav {
  position: relative;
  grid-area: nav;

  .search {
    display: flex;
    margin-top: 0.4rem;

    button {
      border: none;
      background-color: $base-color-nav;
      font-size: 1.5rem;
      border-radius: $box-radius;
      padding: 1.2rem 2.8rem 1.4rem 2.8rem;
      margin: 0.2rem 0rem 0rem 1rem;
    }
    input {
      font-size: 1rem;
      border-radius: $box-radius;
      padding: 1rem;
      margin-left: 3rem;
      background-color: $base-color-nav;
      border: none;
    }
  }
  ul {
    @include flexCenter;
    justify-content: flex-start;
    padding-left: 3rem;
    margin-top: 1rem;

    li {
      font-family: inter;
      margin: 0.8rem;

      font-weight: 500;
      border-radius: $box-radius;
      cursor: pointer;
    }
    a {
      font-size: 1.5rem;
      color: white;
    }
  }
}
