@import "_variabels.scss";

// Reset:
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

//hamburger menu
.toggle-button {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 40px;
  height: 35px;

  .bar {
    height: 6px;
    width: 100%;
    background-color: $text-color;
    border-radius: 10px;
  }
}

// Main-Navbar
nav {
  position: relative;
  grid-area: nav;

  .search {
    display: flex;
    margin-top: 0.4rem;

    button {
      border: none;
      background-color: $base-color-nav;
      font-size: 1.5rem;
      border-radius: $box-radius;
      padding: 1.2rem 2.8rem 1.4rem 2.8rem;
      margin: 0.2rem 0rem 0rem 1rem;
    }
    input {
      font-size: 1rem;
      border-radius: $box-radius;
      padding: 1rem;
      margin-left: 3rem;
      background-color: $base-color-nav;
      border: none;
    }
  }
  ul {
    @include flexCenter;
    justify-content: flex-start;
    padding-left: 3rem;
    margin-top: 1rem;

    li {
      font-family: inter;
      margin: 0.8rem;

      font-weight: 500;
      border-radius: $box-radius;
      cursor: pointer;
    }
    a {
      font-size: 1.5rem;
      color: white;
    }
  }
}

// Lagar-Main-content:
main {
  background-color: #264653;
  color: white;
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-items: center;

  & section {
    grid-column: 2/3;
    grid-row: 1/2;
    display: flex;
    align-items: center;
    gap: 6em;
    padding-top: 4em;

    // Lagar-Main-navbar:
    & #lagar-nav {
      width: 50%;
      display: flex;
      flex-direction: column;
    }

    & #lagar-nav div {
      padding: 1em;
    }

    & #lagar-nav ul {
      padding: 0;
      margin: 0;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    & #lagar-nav ul li {
      background: #e9c46a;
      margin: 0;
      padding: 1em;
      width: 100%;
      border: 3px solid #264653;
      border-radius: $box-radius;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    & #lagar-nav ul li img {
      margin: 0;
      padding: 0;
      background: #e9c46a;
      color: #e76f51;
      border-radius: $box-radius;
    }

    & #lagar-nav ul li a {
      font-family: inter;
      color: black;
    }

    // Lagar-Main-text
    & article {
      background: #264653;
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      & h1 {
        margin: 1em 1em 0.5em 0.5em;
        font-size: 2rem;
        color: #e9c46a;
      }

      p:first-of-type {
        font-weight: bold;
      }

      & p {
        margin: 1em;
      }
    }
  }

  // Lagar-Main-img:
  & img {
    grid-column: 2/3;
    grid-row: 2/3;
    max-width: 40%;
    height: auto;
    background: #264653;
    padding: 2em;
    margin: 2em;
  }
}

// Media Queries:

// @media only screen and (max-width: 1280px) {
// }
// main {
//   background: blanchedalmond;
//   display: grid;
//   grid-template-columns: 1fr;
//   grid-template-rows: 1fr 1fr 1fr;
//   // justify-items: center;
// }

// main section {
//   grid-column: 1/2;
// }

// #lagar-nav {
//   grid-row: 1/2;
// }

// main article {
//   grid-row: 2/3;
// }

@media (max-width: 1024px) {
  .toggle-button {
    display: flex;
  }

  .navbar-links {
    display: none;
    width: 100%;
  }

  .navbar-links ul {
    margin-top: 4rem;
    padding-left: 0rem;
    width: 100%;
    flex-direction: column;
  }

  .navbar-links ul li {
    text-align: center;
    width: 100%;
  }

  .navbar-links ul li a {
    padding: 0.5rem 1rem;
  }

  .navbar-links.active {
    display: flex;
  }
}
