@import "_variabels.scss";

.grid-container {
  height: 100%;
  display: grid;
  grid-template-columns: 0.5fr 1.5fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "aside nav nav nav nav nav"
    "aside textarea textarea calender calender ."
    "aside textarea textarea calender calender ."
    "aside textarea textarea calender calender ."
    "aside textarea textarea calender calender ."
    "aside . . . . .";
}
//hamburger menu
.toggle-button {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 40px;
  height: 35px;

  .bar {
    height: 6px;
    width: 100%;
    background-color: $text-color;
    border-radius: 10px;
  }
}
nav {
  position: relative;
  grid-area: nav;

  .search {
    display: flex;
    margin-top: 0.4rem;

    button {
      border: none;
      background-color: $base-color-nav;
      font-size: 1.5rem;
      border-radius: $box-radius;
      padding: 1.2rem 2.8rem 1.4rem 2.8rem;
      margin: 0.2rem 0rem 0rem 1rem;
    }
    input {
      font-size: 1rem;
      border-radius: $box-radius;
      padding: 1rem;
      margin-left: 3rem;
      background-color: $base-color-nav;
      border: none;
    }
  }
  ul {
    @include flexCenter;
    justify-content: flex-start;
    padding-left: 3rem;
    margin-top: 1rem;

    li {
      font-family: inter;
      margin: 0.8rem;

      font-weight: 500;
      border-radius: $box-radius;
      cursor: pointer;
    }
    a {
      font-size: 1.5rem;
      color: white;
    }
  }
}
//aside landingpage
aside {
  position: relative;
  .logo {
    img {
      width: 160px;
      height: 160px;
      margin-left: 2rem;
    }
  }

  img {
    height: 50px;
    width: 50px;
    margin-left: 4rem;
  }

  h3 {
    color: $darkcolor;
    font-size: 28px;
  }
  grid-area: aside;
  background-color: $basecColorDiv;
  ul {
    margin-top: 8rem;
  }
  li {
    margin: 1.5rem 0rem 1.5rem 1rem;
  }
  a {
    font-size: 18px;
    color: $darkcolor;
    transition: 350ms;
  }
  a:hover {
    color: #051318;
    text-decoration: underline;
    transition: 350ms;
  }
}
//calender landingpage
.calender {
  margin-top: 6rem;
  margin-right: 2rem;
  grid-area: calender;
  background-color: $text-color;
  border-radius: $box-radius;
  color: $darkcolor;

  h5 {
    font-size: 1.8rem;
    color: $darkcolor;
    margin-left: 0.8rem;
  }
  p {
    margin: 0.5rem;
    margin-left: 0.8rem;
    font-size: 1.5rem;
  }

  h3 {
    font-size: 2.5rem;
    text-align: center;
    background-color: $basecColorDiv;
    padding: 1rem;
    border-radius: 10px 10px 0px 0px;
  }
}
//textarea
.textarea {
  grid-area: textarea;
  color: $text-color;
  margin-left: 5rem;
  margin-top: 5rem;
  div {
    margin-bottom: 3rem;
  }
  h1 {
    font-size: 4rem;
  }
  p {
    font-size: 1rem;
    max-width: 50ch;
  }
  h2 {
    font-size: 2.5rem;
  }
  .big-btn {
    margin-top: 1.5rem;
  }
}
//Main

main {
  height: 100vh;
}
.firstSectionMain {
  justify-content: space-evenly;
  margin-top: 5rem;
  display: flex;
  flex-wrap: wrap;
  h2 {
    margin-left: 1rem;
    font-size: 3rem;
  }
  p {
    font-family: Poppins;
    font-size: 1.5rem;
    font-weight: 500;
    max-width: 35ch;
    margin-left: 1rem;
  }

  .textContainer {
    margin: 1rem;
    display: flex;
    align-items: center;
    width: 100%;
    height: 80px;
    background-color: $basecColorDiv;
    border-radius: $box-radius;
    .arrow {
      width: 60px;
      height: 60px;
    }
    .leftArrow {
      justify-content: center;
      width: 60px;
      height: 60px;
      margin-left: 1rem;
    }

    h3 {
      font-size: 2rem;
      font-family: Poppins;
      font-weight: 500;
      margin-left: 1rem;
      text-align: start;
      align-items: center;
    }
  }
  .imgMain {
    width: 811px;
    height: 620px;
  }
}

//        -<Media@>-
@media (max-width: 1700px) {
  .firstSectionMain {
    margin-top: 8rem;
  }
  .grid-container {
    grid-template-areas:
      "aside nav nav nav nav nav"
      "aside textarea textarea textarea calender calender"
      "aside textarea textarea textarea calender calender"
      "aside textarea textarea textarea calender calender"
      "aside textarea textarea textarea calender calender"
      "aside . . . . .";
  }
  nav {
    li,
    a {
      font-size: 1rem;
    }
  }
}
@media (max-width: 1200px) {
  .firstSectionMain {
    margin-top: 5rem;
  }
  //navigation
  nav ul a {
    font-size: 1.2rem;
  }

  //navigation end
  .grid-container {
    display: grid;
    grid-template-columns: 0.7fr 1.2fr 1.1fr 0.2fr;
    grid-template-rows: 0.1fr 0fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "aside nav nav nav"
      "aside . . ."
      "aside textarea textarea  ."
      "aside calender calender ."
      ". . . .";
  }

  nav {
    grid-area: nav;
    div {
      font-size: 1rem;
    }
    ul li {
      border-radius: 0px;
      margin-top: 0rem;
    }
  }

  aside {
    grid-area: aside;
  }

  .textarea {
    grid-area: textarea;
  }

  .calender {
    grid-area: calender;
    height: 300px;

    margin: 5rem;
    h5 {
      font-size: 1.2rem;
    }
    p {
      font-size: 1rem;
    }
    h3 {
      font-size: 1.5rem;
    }
  }
  nav {
    .search {
      display: flex;
      justify-content: flex-end;

      button {
        width: 100%;
      }
      input {
        width: 100%;
      }
    }
  }
}
@media (max-width: 1024px) {
  .textarea {
    .big-btn {
      font-size: 20px;
    }
    p {
      font-size: 1rem;
    }
    h1 {
      font-size: 3rem;
    }
  }
  nav {
    flex-direction: column;
    align-items: flex-start;
  }

  .toggle-button {
    display: flex;
  }

  .navbar-links {
    display: none;
    width: 100%;
  }

  .navbar-links ul {
    margin-top: 4rem;
    padding-left: 0rem;
    width: 100%;
    flex-direction: column;
  }

  .navbar-links ul li {
    text-align: center;
    width: 100%;
  }

  .navbar-links ul li a {
    padding: 0.5rem 1rem;
  }

  .navbar-links.active {
    display: flex;
  }
  .firstSectionMain {
    .imgMain {
      width: 500px;
      height: 313px;
      margin: 2rem;
    }
  }
}
@media (max-width: 768px) {
  .firstSectionMain {
    margin-top: 2rem;
    .textContainer {
      margin: 1rem 0rem 1rem 0rem;
    }
  }

  .textarea {
    h1,
    h2 {
      font-size: 2rem;
    }
  }
  aside {
    .logo {
      padding: 0rem;

      img {
        width: 100px;
        height: 100px;
      }
    }
    li {
      margin: 1rem 0.5rem;
    }
    a {
      font-size: 0.8rem;
    }
    h3 {
      margin: 0.5rem;
      font-size: 1.2rem;
    }
  }
}
@media (max-width: 650px) {
  aside {
    display: none;
  }
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.3fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "nav nav nav nav nav nav"
      "textarea textarea textarea textarea textarea ."
      "textarea textarea textarea textarea textarea ."
      ". calender calender calender calender ."
      ". calender calender calender calender .";
  }
  .nav {
    grid-area: nav;
  }
  .textarea {
    grid-area: textarea;
  }
  .calender {
    grid-area: calender;
  }
}
@media (max-width: 600px) {
  .firstSectionMain {
    h2 {
      text-align: center;
      margin: 0;
    }
    p {
      text-align: center;
    }
    .imgMain {
      width: 250px;
      height: 250px;
      margin: 0rem;
    }
    .textContainer {
      .arrow {
        width: 45px;
        height: 45px;
      }
      .leftArrow {
        width: 45px;
        height: 45px;
      }
      h3 {
        font-size: 1.2rem;
      }
    }
  }
}
