@import "_variabels.scss";

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "aside nav nav nav nav nav"
    "aside textarea textarea textarea . ."
    "aside textarea textarea textarea calender calender"
    "aside textarea textarea textarea calender calender"
    "aside textarea textarea textarea calender calender"
    "aside . . . . .";
}
nav {
  grid-area: nav;
  background-color: orange;
}
aside {
  grid-area: aside;
  background-color: $basecColorDiv;
}
.calender {
  grid-area: calender;
  background-color: burlywood;
}
.textarea {
  grid-area: textarea;
  background-color: yellow;
}
