@import "_variabels.scss";

.grid-container {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "aside nav nav nav nav nav"
    "aside textarea textarea textarea . ."
    "aside textarea textarea textarea calender calender"
    "aside textarea textarea textarea calender calender"
    "aside textarea textarea textarea calender calender"
    "aside . . . . .";
}
nav {
  grid-area: nav;
  .search {
    display: flex;
    margin-top: 0.4rem;

    button {
      border: none;
      background-color: $base-color-nav;
      font-size: 1.5rem;
      border-radius: $box-radius;
      padding: 1.2rem 2.8rem 1.4rem 2.8rem;
      margin: 0.2rem 0rem 0rem 1rem;
    }
    input {
      font-size: 1rem;
      border-radius: $box-radius;
      padding: 1rem;
      margin-left: 3rem;
      background-color: $base-color-nav;
      border: none;
    }
  }
  ul {
    @include flexCenter;
    justify-content: flex-start;
    padding-left: 3rem;

    li {
      background-color: $base-color-nav;
      padding: 0.7rem 1.5rem 0.8rem 1.5rem;
      margin: 0.5rem;
      margin-top: 1rem;
      font-size: $font-size-p;
      border-radius: $box-radius;
      cursor: pointer;
    }
  }
}
//aside landingpage
aside {
  position: relative;
  img {
    padding-left: 2rem;
  }
  section {
    position: absolute;
    bottom: 3%;
    padding-left: 3rem;
    margin-top: 1rem;
    img {
      height: 110px;
      width: 110px;
      padding: 1rem;
    }
  }
  h3 {
    color: $darkcolor;
    font-size: 28px;
    margin: 1.5rem;
  }
  grid-area: aside;
  background-color: $basecColorDiv;
  ul {
    margin-top: 8rem;
  }
  li {
    margin: 1.5rem;
  }
  a {
    font-size: 18px;
    color: $darkcolor;
  }
}
//calender landingpage
.calender {
  margin-right: 2rem;
  grid-area: calender;
  background-color: $text-color;
  border-radius: $box-radius;

  h5 {
    font-size: 1.8rem;
    color: $darkcolor;
    margin-left: 0.8rem;
  }
  p {
    margin-left: 0.8rem;
    font-size: 1.5rem;
  }

  h3 {
    font-size: 2.5rem;
    text-align: center;
    background-color: $basecColorDiv;
    padding: 1rem;
    border-radius: 10px 10px 0px 0px;
  }
}
.textarea {
  grid-area: textarea;
  color: $text-color;
  margin-left: 5rem;
  margin-top: 5rem;
  div {
    margin-bottom: 3rem;
  }
  h1 {
    font-size: 4.2rem;
  }
  p {
    font-size: 1.4rem;
    max-width: 50ch;
  }
  h2 {
    font-size: 2.5rem;
  }
  .big-btn {
    margin-top: 1.5rem;
  }
}
