* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.wrapper {
  background: #264653;
  background-size: cover;
  height: 170vh;
  margin: 10px;
}

.content {
  line-height: 1.9;
}
.content-page {
  background: rgba(0, 0, 0, 0.4);
  padding: 30px 20px;
  border-radius: 10px;
}

.navbar {
  height: 80px;
  width: 100%;
}

.logo {
  width: 120px;
  height: auto;
  padding: 10px 10px;
}

.navbar ul {
  float: right;
  margin-right: 20px;
  border-radius: 25px;
}

.navbar ul li {
  list-style: none;
  margin: 20px 70px 20px 20px;
  display: inline-block;
  line-height: 50px;
}

.navbar ul li a {
  text-decoration: none;
  color: black;
  font-size: 15px;
  padding: 20px 13px 10px 10px;
  font-family: "Roboto", sans-serif;
  transition: 0.4s;
}

.navbar ul li a.active,
.navbar ul li a:hover {
  background: #ffeb00;
  border-radius: 2px;
}

.wrapper .center {
  padding: 10px;
  user-select: none;
  font-family: sans-serif;
  width: 100%;
}

.center h1 {
  color: #e9c46a;
  font-size: 30px;
  font-weight: bold;
  width: 100%;
}

.center h2 {
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.center h3 {
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.center .buttons {
  margin: 5px 0 0 15px;
}

.buttons button {
  height: 70px;
  width: 200px;
  font-size: 25px;
  font-weight: bold;
  background-color: #e9c46a;
  border: 5px solid #e9c46a;
  outline: none;
  cursor: pointer;
  border-radius: 25px;
  transition: 0.5s;
}

.buttons .btn {
  margin: 20px;
}

.buttons button:hover {
  background: #e9c46a;
}

.buttons .picture {
  height: 240px;
  width: 450px;
  float: 5px;
}

footer {
  border-top: solid 10px white;
  background-color: #e9c46a;
}

footer .wave {
  width: 100%;
  height: 100%;
  background-color: white;
  color: white;
}

footer .arrowup {
  width: 80px;
  height: 80px;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

footer article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  background-color: #e9c46a;
}

footer img {
  width: 300px;
  height: 300px;
}

footer section {
  margin: 2rem;
}

footer section li {
  color: #264653;
  max-width: 35ch;
}

footer section a {
  color: black;
  text-decoration: underline;
}

footer section h5 {
  font-size: 1.4rem;
  font-weight: 600;
  color: #264653;
  margin: 0.5rem 0rem 0.5rem 0rem;
}

@media only screen and (min-width: 1024px) {
  .navbar;
}

@media only screen and (min-width: 1024px) {
  .wrapper {
    width: 100%;
  }

  .center h1 {
    text-align: left;
    font-size: 10px;
  }
  .center h2 h3 {
    text-align: left;
  }
  .center .buttons {
    text-align: left;
    font-size: 1px;
  }
}

@media only screen and (min-width: 500px) {
  .footer {
    width: 100%;
    display: flex;
  }
}
