@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,900;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&family=Poppins:ital,wght@0,400;0,900;1,400;1,500;1,600;1,700;1,800&display=swap");
.grid-container {
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.5fr 1.5fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 0.5fr 1.5fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
      grid-template-areas: "aside nav nav nav nav nav" "aside textarea textarea calender calender ." "aside textarea textarea calender calender ." "aside textarea textarea calender calender ." "aside textarea textarea calender calender ." "aside . . . . .";
}

.toggle-button {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 40px;
  height: 35px;
}

.toggle-button .bar {
  height: 6px;
  width: 100%;
  background-color: #faf8f8;
  border-radius: 10px;
}

nav {
  position: relative;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 5;
  grid-area: nav;
}

nav .search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0.4rem;
}

nav .search button {
  border: none;
  background-color: #ffeb00;
  font-size: 1.5rem;
  border-radius: 25px;
  padding: 1.2rem 2.8rem 1.4rem 2.8rem;
  margin: 0.2rem 0rem 0rem 1rem;
}

nav .search input {
  font-size: 1rem;
  border-radius: 25px;
  padding: 1rem;
  margin-left: 3rem;
  background-color: #ffeb00;
  border: none;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-left: 3rem;
  margin-top: 1rem;
}

nav ul li {
  font-family: inter;
  margin: 0.8rem;
  font-weight: 500;
  border-radius: 25px;
  cursor: pointer;
}

nav ul a {
  font-size: 1.5rem;
  color: white;
}

aside {
  position: relative;
  -ms-grid-row: 1;
  -ms-grid-row-span: 6;
  -ms-grid-column: 1;
  grid-area: aside;
  background-color: #e9c46a;
}

aside .logo img {
  width: 160px;
  height: 160px;
  margin-left: 2rem;
}

aside section img {
  height: 50px;
  width: 50px;
  margin-left: 4rem;
}

aside h3 {
  color: #264653;
  font-size: 28px;
  margin: 1.5rem;
}

aside ul {
  margin-top: 8rem;
}

aside li {
  margin: 1.5rem 0rem 1.5rem 1rem;
}

aside a {
  font-size: 18px;
  color: #264653;
  -webkit-transition: 350ms;
  transition: 350ms;
}

aside a:hover {
  color: #051318;
  text-decoration: underline;
  -webkit-transition: 350ms;
  transition: 350ms;
}

.calender {
  margin-top: 6rem;
  margin-right: 2rem;
  -ms-grid-row: 2;
  -ms-grid-row-span: 4;
  -ms-grid-column: 4;
  -ms-grid-column-span: 2;
  grid-area: calender;
  background-color: #faf8f8;
  border-radius: 25px;
  color: #264653;
}

.calender h5 {
  font-size: 1.8rem;
  color: #264653;
  margin-left: 0.8rem;
}

.calender p {
  margin: 0.5rem;
  margin-left: 0.8rem;
  font-size: 1.5rem;
}

.calender h3 {
  font-size: 2.5rem;
  text-align: center;
  background-color: #e9c46a;
  padding: 1rem;
  border-radius: 10px 10px 0px 0px;
}

.textarea {
  -ms-grid-row: 2;
  -ms-grid-row-span: 4;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: textarea;
  color: #faf8f8;
  margin-left: 5rem;
  margin-top: 5rem;
}

.textarea div {
  margin-bottom: 3rem;
}

.textarea h1 {
  font-size: 4rem;
}

.textarea p {
  font-size: 1rem;
  max-width: 50ch;
}

.textarea h2 {
  font-size: 2.5rem;
}

.textarea .big-btn {
  margin-top: 1.5rem;
}

@media (max-width: 1700px) {
  .grid-container {
        grid-template-areas: "aside nav nav nav nav nav" "aside textarea textarea textarea calender calender" "aside textarea textarea textarea calender calender" "aside textarea textarea textarea calender calender" "aside textarea textarea textarea calender calender" "aside . . . . .";
  }
  nav li,
  nav a {
    font-size: 1rem;
  }
}

@media (max-width: 1200px) {
  nav ul a {
    font-size: 1.2rem;
  }
  .grid-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 0.7fr 1.2fr 1.1fr 0.2fr;
        grid-template-columns: 0.7fr 1.2fr 1.1fr 0.2fr;
    -ms-grid-rows: 0.1fr 0fr 1fr 1fr;
        grid-template-rows: 0.1fr 0fr 1fr 1fr;
    gap: 0px 0px;
        grid-template-areas: "aside nav nav nav" "aside . . ." "aside textarea textarea  ." "aside calender calender ." ". . . .";
  }
  nav {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 3;
    grid-area: nav;
  }
  nav div {
    font-size: 1rem;
  }
  nav ul li {
    border-radius: 0px;
    margin-top: 0rem;
  }
  aside {
    -ms-grid-row: 1;
    -ms-grid-row-span: 4;
    -ms-grid-column: 1;
    grid-area: aside;
  }
  .textarea {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-area: textarea;
  }
  .calender {
    -ms-grid-row: 4;
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-area: calender;
    height: 300px;
    margin: 5rem;
  }
  .calender h5 {
    font-size: 1.2rem;
  }
  .calender p {
    font-size: 1rem;
  }
  .calender h3 {
    font-size: 1.5rem;
  }
  nav .search {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  nav .search button {
    width: 100%;
  }
  nav .search input {
    width: 100%;
  }
}

@media (max-width: 1024px) {
  .textarea .big-btn {
    font-size: 20px;
  }
  .textarea p {
    font-size: 1rem;
  }
  .textarea h1 {
    font-size: 3rem;
  }
  nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .toggle-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navbar-links {
    display: none;
    width: 100%;
  }
  .navbar-links ul {
    margin-top: 4rem;
    padding-left: 0rem;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .navbar-links ul li {
    text-align: center;
    width: 100%;
  }
  .navbar-links ul li a {
    padding: 0.5rem 1rem;
  }
  .navbar-links.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (max-width: 768px) {
  .textarea h1,
  .textarea h2 {
    font-size: 2rem;
  }
  aside .logo {
    padding: 0rem;
  }
  aside .logo img {
    width: 100px;
    height: 100px;
  }
  aside li {
    margin: 1rem 0.5rem;
  }
  aside a {
    font-size: 0.8rem;
  }
  aside h3 {
    margin: 0.5rem;
    font-size: 1.2rem;
  }
}

@media (max-width: 650px) {
  aside {
    display: none;
  }
  .grid-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    -ms-grid-rows: 0.3fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 0.3fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
        grid-template-areas: "nav nav nav nav nav nav" "textarea textarea textarea textarea textarea ." "textarea textarea textarea textarea textarea ." ". calender calender calender calender ." ". calender calender calender calender .";
  }
  .nav {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 6;
    grid-area: nav;
  }
  .textarea {
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
    grid-area: textarea;
  }
  .calender {
    -ms-grid-row: 4;
    -ms-grid-row-span: 2;
    -ms-grid-column: 2;
    -ms-grid-column-span: 4;
    grid-area: calender;
  }
}

* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Poppins", "Inter", Arial, Helvetica, sans-serif;
}

header {
  background-color: #264653;
  overflow-y: hidden;
}

a {
  color: black;
}

.big-btn {
  background-color: #e9c46a;
  border-radius: 25px;
  font-size: 25px;
  padding: 0.4rem 1.5rem 0.4rem 1.5rem;
  cursor: pointer;
  border: none;
  color: #264653;
}

.big-btn:hover {
  -webkit-box-shadow: 2px 0px 10px #181717;
          box-shadow: 2px 0px 10px #181717;
}

.opacity {
  opacity: 70%;
}

h1,
h2,
h3,
h4,
h5,
h6,
button {
  font-family: inter;
  font-weight: 600;
}

p {
  font-family: poppins;
  font-weight: 400;
}
/*# sourceMappingURL=style.css.map */