.Left_side {
  float: left;
  width: 60%;
  padding: 0 20px;
}
.Right_side {
  float: left;
  width: 20%;
  padding: 15px;
  margin-top: 7px;
}

@media only screen and (max-width: 620px) {
  .Left_side,
  .Right_side {
    width: 100%;
  }
}

#lagar-nav {
  width: 50%;
  display: flex;
  flex-direction: column;
}

#lagar-nav div {
  padding: 1em;
}

#lagar-nav ul {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#lagar-nav ul li {
  background: #e9c46a;
  margin: 0;
  padding: 1em;
  width: 100%;
  border: 3px solid #264653;
  border-radius: $box-radius;
  display: flex;
  justify-content: space-between;
}

#lagar-nav ul li img {
  margin: 0;
  padding: 0;
  background: #e9c46a;
  color: #e76f51;
  border-radius: $box-radius;
}

#lagar-nav ul li a {
  font-family: inter;
  color: black;
}
