//imports
@import "_landingpage";

//variabels
$base-color-div: #e9c46a;
$base-color-nav: #ffeb00;
$background: #264653;

//Geniral styling here!
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
