@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,900;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&family=Poppins:ital,wght@0,400;0,900;1,400;1,500;1,600;1,700;1,800&display=swap");
.grid-container {
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
      grid-template-areas: "aside nav nav nav nav nav" "aside textarea textarea textarea . ." "aside textarea textarea textarea calender calender" "aside textarea textarea textarea calender calender" "aside textarea textarea textarea calender calender" "aside . . . . .";
}

nav {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 5;
  grid-area: nav;
}

nav .search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0.4rem;
}

nav .search button {
  border: none;
  background-color: #ffeb00;
  font-size: 1.5rem;
  border-radius: 25px;
  padding: 1.2rem 2.8rem 1.4rem 2.8rem;
  margin: 0.2rem 0rem 0rem 1rem;
}

nav .search input {
  font-size: 1rem;
  border-radius: 25px;
  padding: 1rem;
  margin-left: 3rem;
  background-color: #ffeb00;
  border: none;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-left: 3rem;
}

nav ul li {
  background-color: #ffeb00;
  padding: 0.7rem 1.5rem 0.8rem 1.5rem;
  margin: 0.5rem;
  margin-top: 1rem;
  font-size: 2rem;
  border-radius: 25px;
  cursor: pointer;
}

aside {
  position: relative;
  -ms-grid-row: 1;
  -ms-grid-row-span: 6;
  -ms-grid-column: 1;
  grid-area: aside;
  background-color: #e9c46a;
}

aside img {
  padding-left: 2rem;
}

aside section {
  position: absolute;
  bottom: 3%;
  padding-left: 3rem;
  margin-top: 1rem;
}

aside section img {
  height: 110px;
  width: 110px;
  padding: 1rem;
}

aside h3 {
  color: #264653;
  font-size: 28px;
  margin: 1.5rem;
}

aside ul {
  margin-top: 8rem;
}

aside li {
  margin: 1.5rem;
}

aside a {
  font-size: 18px;
  color: #264653;
}

.calender {
  margin-right: 2rem;
  -ms-grid-row: 3;
  -ms-grid-row-span: 3;
  -ms-grid-column: 5;
  -ms-grid-column-span: 2;
  grid-area: calender;
  background-color: #faf8f8;
  border-radius: 25px;
}

.calender h5 {
  font-size: 1.8rem;
  color: #264653;
  margin-left: 0.8rem;
}

.calender p {
  margin-left: 0.8rem;
  font-size: 1.5rem;
}

.calender h3 {
  font-size: 2.5rem;
  text-align: center;
  background-color: #e9c46a;
  padding: 1rem;
  border-radius: 10px 10px 0px 0px;
}

.textarea {
  -ms-grid-row: 2;
  -ms-grid-row-span: 4;
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-area: textarea;
  color: #faf8f8;
  margin-left: 5rem;
  margin-top: 5rem;
}

.textarea div {
  margin-bottom: 3rem;
}

.textarea h1 {
  font-size: 4.2rem;
}

.textarea p {
  font-size: 1.4rem;
  max-width: 50ch;
}

.textarea h2 {
  font-size: 2.5rem;
}

.textarea .big-btn {
  margin-top: 1.5rem;
}

* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Poppins", "Inter", Arial, Helvetica, sans-serif;
}

header {
  background-color: #264653;
}

a {
  color: black;
}

.big-btn {
  background-color: #e9c46a;
  border-radius: 25px;
  font-size: 25px;
  padding: 0.4rem 1.5rem 0.4rem 1.5rem;
  cursor: pointer;
  border: none;
  color: black;
}

.opacity {
  opacity: 70%;
}

h1,
h2,
h3,
h4,
h5,
h6,
button {
  font-family: inter;
  font-weight: 600;
}

p {
  font-family: poppins;
  font-weight: 400;
}
/*# sourceMappingURL=style.css.map */