body {
    background-color: #ffffff; 
}

.backgroundpicture {
    position: absolute; 
    width: 100%; 
    height: 900px; 
    opacity: 10%; 
}

.title { 
    position: absolute; 
    justify-content: center; 
    text-align: center;  
    font-size: 30px;  
    font-family: "poppins";
    color: #264653; 
    top: 10px; 
}

.box-title1 {  
    display: block; 
    position: absolute; 
    border-style: solid;
    margin-top: 80px; 
    border-radius: 70px; 
    line-height: 35px; /* Texten hamnade i mitten, men det är för det bara är en rad text, man ska kunna göra på ett annat sätt men vet ej hur */
    text-align: center; 
    background-color: #264653;
    border-width: 0px; 
    color: #ffffff; 
    width: 340px;
    height: 35px; 
    font-size: 16px;  
    font-family: "poppins";
}

.box-text1 {
    display: flex; 
    padding: 5px; 
    align-items: center; 
    justify-content: center; 
    position: absolute; 
    margin-top: 118px;
    border-style: solid; 
    border-radius: 70px; 
    text-align: center; /* Försöker få texten i mitten */
    background-color: #E9C46A;
    border-width: 0px;
    width: 330px; 
    height: 60px;  
    color: #000000; 
    font-size: 12px; 
    font-family: "inter";
}

.box-title2 {  
    display: block; 
    position: absolute; 
    border-style: solid; 
    border-radius: 70px; 
    line-height: 35px; /* Texten hamnade i mitten, men det är för det bara är en rad text, man ska kunna göra på ett annat sätt men vet ej hur */
    text-align: center; 
    margin-top: 210px;
    background-color: #264653;
    border-width: 0px; 
    color: #ffffff; 
    width: 340px;
    height: 35px; 
    font-size: 16px;  
    font-family: "poppins";
}

.box-text2 {
    display: flex; 
    padding: 5px; 
    align-items: center; 
    justify-content: center; 
    position: absolute; 
    margin-top: 248px;
    border-style: solid; 
    border-radius: 70px; 
    text-align: center; /* Försöker få texten i mitten */
    background-color: #E9C46A;
    border-width: 0px;
    width: 330px; 
    height: 60px;  
    color: #000000; 
    font-size: 12px; 
    font-family: "inter";
}

.box-title3 {  
    display: block; 
    position: absolute; 
    border-style: solid; 
    border-radius: 70px; 
    line-height: 35px; /* Texten hamnade i mitten, men det är för det bara är en rad text, man ska kunna göra på ett annat sätt men vet ej hur */
    text-align: center; 
    margin-top: 340px;
    background-color: #264653;
    border-width: 0px; 
    color: #ffffff; 
    width: 340px;
    height: 35px; 
    font-size: 16px;  
    font-family: "poppins";
}

.box-text3 {
    display: flex; 
    padding: 5px; 
    align-items: center; 
    justify-content: center; 
    position: absolute; 
    margin-top: 378px;
    border-style: solid; 
    border-radius: 70px; 
    text-align: center; /* Försöker få texten i mitten */
    background-color: #E9C46A;
    border-width: 0px;
    width: 330px; 
    height: 60px;  
    color: #000000; 
    font-size: 12px; 
    font-family: "inter";
}

.box-title4 {  
    display: block; 
    position: absolute; 
    border-style: solid; 
    border-radius: 70px; 
    line-height: 35px; /* Texten hamnade i mitten, men det är för det bara är en rad text, man ska kunna göra på ett annat sätt men vet ej hur */
    text-align: center; 
    margin-top: 470px;
    background-color: #264653;
    border-width: 0px; 
    color: #ffffff; 
    width: 340px;
    height: 35px; 
    font-size: 16px;  
    font-family: "poppins";
}

.box-text4 {
    display: flex; 
    padding: 5px; 
    align-items: center; 
    justify-content: center; 
    position: absolute; 
    top: 504px;
    border-style: solid; 
    border-radius: 70px; 
    text-align: center; /* Försöker få texten i mitten */
    background-color: #E9C46A;
    border-width: 0px;
    width: 330px; 
    height: 60px;  
    color: #000000; 
    font-size: 12px; 
    font-family: "inter";
}

.box-title5 {  
    display: block; 
    position: absolute; 
    margin-left: 500px; 
    margin-top: 80px;
    border-style: solid; 
    border-radius: 70px; 
    line-height: 35px; /* Texten hamnade i mitten, men det är för det bara är en rad text, man ska kunna göra på ett annat sätt men vet ej hur */
    text-align: center; 
    background-color: #264653;
    border-width: 0px; 
    color: #ffffff; 
    width: 340px;
    height: 35px; 
    font-size: 16px;  
    font-family: "poppins";
}

.box-text5 {
    display: flex; 
    padding: 5px; 
    align-items: center; 
    justify-content: center; 
    position: absolute; 
    margin-top: 118px;
    margin-left: 500px;
    border-style: solid; 
    border-radius: 70px; 
    text-align: center; /* Försöker få texten i mitten */
    background-color: #E9C46A;
    border-width: 0px;
    width: 330px; 
    height: 60px;  
    color: #000000; 
    font-size: 12px; 
    font-family: "inter";
}

.box-title6 {  
    display: block; 
    position: absolute; 
    margin-top: 210px;
    margin-left: 500px;
    border-style: solid; 
    border-radius: 70px; 
    line-height: 35px; /* Texten hamnade i mitten, men det är för det bara är en rad text, man ska kunna göra på ett annat sätt men vet ej hur */
    text-align: center; 
    background-color: #264653;
    border-width: 0px; 
    color: #ffffff; 
    width: 340px;
    height: 35px; 
    font-size: 16px;  
    font-family: "poppins";
}

.box-text6 {
    display: flex; 
    padding: 5px; 
    align-items: center; 
    justify-content: center; 
    position: absolute; 
    margin-top: 248px;
    margin-left: 500px; 
    border-style: solid; 
    border-radius: 70px; 
    text-align: center; /* Försöker få texten i mitten */
    background-color: #E9C46A;
    border-width: 0px;
    width: 330px; 
    height: 60px;  
    color: #000000; 
    font-size: 12px; 
    font-family: "inter";
}

.bild1 {  
    margin-top: 350px; 
    margin-left: 500px;
    left: 600px;
    height: 350px; 
    width: 350px; 
}

.bildfooter {
    position: absolute; 
    background-color: img; dator.jpg; 
    top: 760px; 
    width: 1024px; 
}

footer {
    display: flex; 
    position: absolute; 
    background-color:#E9C46A; 
    width: 1024px; 
    height: 200px; 
    top: 858px;
    font-size: 12px; 
    font-family: "inter:100";

}

